<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><title>Students</title></head>
<body>
<h1>
    Edit Student
</h1>
<div sec:authorize="hasRole('ADMIN')">
    <form method="post" th:action="@{/forms/editStudent}" th:object = "${student}">
        <input type="number" placeholder="ID" th:field="${student.studentId}" required />
        <br>
        <input type="text" placeholder="Name" th:field="${student.studentName}" required />
        <br>
        <input type="submit" value="Edit Student">
    </form>
</div>
<a href="/">Home</a>
</body>
</html>