<html>
<head>
    <title>Index</title>
    <style>
        .head {
            height:60px;
            border: 1px solid grey;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .section {
            padding: 5%
        }
    </style>
</head>
<body>
<div class="head">
    <h1> Welcome </h1>
</div>

<div class="section">
    <h1>
        Hello World
    </h1>
    <p sec:authorize="isAnonymous()"><a href="/login">Login</a></p>
    <p sec:authorize="isAuthenticated()"><a href="/logoff">Logout</a></p>
</div>
</body>
</html>