<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><title>Students</title></head>
<body>
<h1>
    Students
</h1>
<div sec:authorize="hasRole('STUDENT')">
    Welcome <span th:text="${student}"></span>
    <div>Student details will be available soon.</div>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <p>List of Students</p>
    <table>
        <tr th:each="student: ${studentsList}">
            <td th:text="${student.studentId}"></td>
            <td th:text="${student.studentName}"></td>
            <td><a th:href="@{/views/editStudent/{id}(id=${student.studentId})}">Edit</a> </td>
            <td><a th:href="@{/actions/deleteStudent/{id}(id=${student.studentId})}">Delete</a> </td>

        </tr>
    </table>
    <a href="/views/addStudent">Add Student</a> <br>
</div>
<a href="/">Home</a>
</body>
</html>